* {
  font-family: sans-serif;
}
.main {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-gap: 5%;
  padding: 5%;
}

.parent {
  height: 230px;
  width: 450px;
  border: 10px solid black;
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-gap: 10%;
  padding: 2%;
  border-radius: 20px;
  border-color: rgb(243, 243, 243);
}

.fchild:nth-child(2) {
  width: 180px;
}

.image {
  height: 170px;
  width: 150px;
  inline-size: hidden;
}

.name {
  color: brown;
  font-size: 20px;
  font-weight: 800;
}

.special,
.oneprice {
  color: black;
  font-size: 15px;
  font-weight: 600;
  margin-top: 5%;
}

.rating {
  height: 25px;
  width: 30px;
  background-color: #01b636;
  color: white;
  font-weight: 500;
  text-align: center;
  padding: 1%;
  border-radius: 5px;
  margin-left: 30%;
  margin-top: 5%;
}

.votes,
.reviews {
  color: #616161;
  font-size: 15px;
  font-weight: 600;
  margin: 5%;
}

.mprice {
  color: black;
  font-weight: 500;
  margin-top: 5%;
}

.bton {
  height: 50px;
  width: 150px;
  color: rgb(119, 161, 81);
  font-weight: 600;
  font-size: 20px;
  border: none;
  outline: none;
  background-color: rgb(233, 244, 236);
  margin-left: 310px;
  cursor: pointer;
}

.border1 {
  height: 50px;
  width: 460px;
  border: 2px solid rgb(240, 240, 240);
}

form {
  display: grid;
  grid-template-columns: repeat(4, 20%);
  grid-gap: 5%;
}

.ratings {
  text-align: center;
  margin: 3%;
}

.stars {
  background-color: #01b636;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  line-height: 5px;
  margin: 0.3%;
  outline: none;
  overflow: visible;
  padding: 13px 19px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}
.stars:after {
  background-clip: padding-box;
  background-color: #01b636;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.stars:main,
.stars:focus {
  user-select: auto;
}
.stars:hover:not(:disabled) {
  filter: brightness(1.1);
}
.stars:disabled {
  cursor: auto;
}
.stars:active:after {
  border-width: 0 0 0px;
}
.stars:active {
  padding-bottom: 10px;
}

.submit {
  background-color: #d84315;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  line-height: 5px;
  margin: 0.3%;
  outline: none;
  overflow: visible;
  padding: 13px 19px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}
.submit:after {
  background-clip: padding-box;
  background-color: #f4511e;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.submit:main,
.submit:focus {
  user-select: auto;
}
.submit:hover:not(:disabled) {
  filter: brightness(1.1);
}
.submit:disabled {
  cursor: auto;
}
.submit:active:after {
  border-width: 0 0 0px;
}
.submit:active {
  padding-bottom: 10px;
}
